<!-- h2+form>input[type=text][placeholder]*3 -->
<h2>書籍資料</h2>
<form #form="ngForm">
  <div>
    <input
      name="name"
      type="text"
      placeholder="名稱"
      #name="ngModel"
      [ngModel]="book?.name"
      required>
    <span *ngIf="name.hasError('required')">請輸入書籍名稱</span>
  </div>
  <div>
    <input name="author" type="text" placeholder="作者" #author="ngModel" [ngModel]="book?.author" required>
    <span *ngIf="author.hasError('required')">請輸入書籍作者</span>
  </div>
  <div>
    <input name="company" type="text" placeholder="出版社" #company="ngModel" [ngModel]="book?.company" required>
    <span *ngIf="company.hasError('required')">請輸入出版社</span>
  </div>
  <button type="button" [disabled]="form.invalid" (click)="onAdd(form)">新增</button>
  <button type="button" (click)="onCancel()">取消</button>
</form>
<pre>{{ name.errors | json }}</pre>
